In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("data.csv")
df_transferred = pd.read_csv("transformed_data.csv")

In [3]:
df_transferred["timestamp"] = df["timestamp"]
df_transferred.drop(["ID","x1sim","y1sim","x2sim","y2sim","x2","y2","nn_pred_x","nn_pred_y","svr_pred_x","svr_pred_y","reversed_x1sim","reversed_y1sim"], axis=1, inplace=True)
df_transferred['zero'] = 0

In [5]:
df_transferred.head()

,timestamp,x1,y1,nn_pred_xr,nn_pred_yr,svr_pred_xr,svr_pred_yr,zero
0,1/1/2019 0:00:09,28.94806,40.26832,28.947840,40.267891,28.946720,40.267161,0
1,1/1/2019 0:00:19,28.93162,40.32295,28.931571,40.322443,28.927804,40.317950,0
2,1/1/2019 0:00:24,28.95557,40.25163,28.955433,40.251648,28.960851,40.248548,0
3,1/1/2019 0:00:33,28.96967,40.23330,28.969559,40.233378,28.973301,40.234143,0
4,1/1/2019 0:00:37,28.95055,40.24852,28.950413,40.248600,28.954689,40.247343,0

In [6]:
df_transferred.to_csv("clean_data.csv", index=False)